* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 800px) {
  .respgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
  }

  .respp {
    padding: 20px;
  }
  .a_gotilresp {
    width: 800px;
  }
  .tiger {
    width: 700px;
  }
  .prot2forside {
    width: 700px;
  }
  .uxpitchdeck {
    width: 700px;
  }
  .protbilleder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
  .stage_light {
    width: 700px;
  }
}
