html {
  scroll-behavior: smooth;
}
/* index html */
.tema4h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
}
/* header */

header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(orange, red);
  box-shadow: 1px 1px 20px orange;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  color: black;
  padding: 30px;
  gap: 20px;
}

nav ul a {
  background-color: black;
  border-radius: 5px;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
}

.svg {
  width: 5rem;
}

nav a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: monospace;
}

/* header slut */

/* main */

main {
  background-image: linear-gradient(red, orange);
}

figure figcaption {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: underline;
  place-self: end center;
  padding: 50px;
  font-family: monospace;
}
figure {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
}
figure > * {
  grid-area: 1/1;
}

.intro {
  display: grid;
  align-items: center;
  background-image: linear-gradient(red, orange);
}

main {
  background-color: darkred;
}
.mig {
  width: 55vh;
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.velkommen {
  color: white;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
}

.opgaver {
  /* background-color: brown; */
  background-image: linear-gradient(orange, red, yellow, brown);
  display: grid;
  gap: 20px;
}
.h1mineopgaver {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-weight: 600;
  text-decoration: underline;
  color: white;
}

.tiger {
  width: 400px;
  /* justify-content: center;
  align-items: center; */
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.responsive {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
  padding: 5px;
  background-color: black;
}

.tigerogtitel {
  display: grid;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.tigerogtitel > * {
  grid-area: 1/1;
}
.tigerogtitel a {
  place-self: end center;
  margin-bottom: 20px;
}

.h1tema2 {
  color: black;
  text-align: center;
  font-size: 30px;
  color: white;
}

.h1tema3 {
  color: white;
  text-align: center;
  font-size: 30px;
}
/* footer */
footer {
  text-align: center;
  background-color: brown;
}

/* index html slut */

/* responsiv_v2 start */

a {
  text-decoration: none;
  color: black;
}

.a_gotilresp {
  font-size: 1.5rem;
  font-family: monospace;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background-color: white;
}

.tigerh2 {
  text-align: center;
  font-size: 2rem;
  color: white;
}
.sidev2 {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.resptext {
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  max-width: 400px;
}

.tigerknap {
  width: 400px;
  margin: 0 auto;
}
/* responsive v2 slut */

/* prototype 2 */

.prot2forside {
  width: 400px;
  /* justify-content: center;
  align-items: center; */
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.prot2grid {
  display: grid;
  padding: 1rem;
}

.prot2forside1 {
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}

.prot2h2 {
  text-align: center;
  margin: 5px;
  color: white;
  margin: 10px;
}

.prot2figcap {
  color: black;
  background: white;
  border-radius: 5px;
  place-self: end center;
}

.prototype2a {
  place-self: end center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.protbilleder {
  display: grid;
  margin: 0 auto;
  gap: 30px;
}
.protbillede {
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}

.seprot2 {
  font-size: 1.5rem;
  font-family: monospace;
  padding: 20px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
}

/* UX pitch deck */
.uxpitchdeck {
  border-radius: 5px;
  width: 400px;
}

.uxknap {
  place-self: end center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.uxforsidebillede {
  width: 400px;
  margin: 1rem auto;
  border-radius: 5px;
}
.uxforside {
  display: grid;
  gap: 1rem;
}
/* animation */
.animationforside {
  display: grid;
}

.stage_light {
  margin: 0 auto;
  width: 400px;
  border-radius: 5px;
}

.videretilprot2 {
  padding: 100px;
  margin: 0 auto;
}

.neste {
  margin-bottom: 1rem;
  margin: 0 auto;
  padding: 20px;
}

/* footer */
footer {
  box-shadow: 1px 1px 20px red;
}

/* pilotvideo */
.pilotvideoen {
  width: 400px;
  border-radius: 5px;
  padding: 1rem;
}

/* om mig */
.silas {
  border-radius: 5px;
  margin: 10px auto;
  width: 400px;
}

.me {
  margin: 0 auto;
}
.kontaktbox {
  background-color: brown;
  border-radius: 5px;
}

.billed {
  display: grid;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

.ommigk {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.cv {
  width: 400px;
}

/* til toppen */
.tiltop {
  font-size: 1.5rem;
  font-family: monospace;
  padding: 20px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
}

/* hover */
nav ul a:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}

.responsive:hover {
  color: white;
  background-color: orange;
  transition: 0.5s;
}

.prototype2a:hover {
  background-color: orange;
  color: white;
  transition: 0.5s;
}

.uxknap:hover {
  background-color: orange;
  color: white;
  transition: 0.5s;
}
.tiltop:hover{
  background-color: black;
  color: white;
  transition: 1s;
}

.a_gotilresp:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
}
.seprot2:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
}
/* clicked */
.tiltop:active {
  color: white;
  background-color: white
}

nav ul a:active {
  color: white;
  background-color: white
  transition: 0.5s;
}

.responsive:active {
  color: white;
}

.prototype2a:active {
  color: white;
  transition: 0s;
}
