/* index html */

/* header */

header {
  display: flex;
  justify-content: space-between;
  background-color: brown;
}

nav ul {
  display: flex;
  list-style: none;
  color: black;
  padding: 30px;
  gap: 20px;
}

nav ul a {
  background-color: black;
  border-radius: 5px;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
}

.svg {
  width: 5rem;
}

nav a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: monospace;
}

/* header slut */

/* main */

figure figcaption {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: underline;
  place-self: end center;
  padding: 50px;
  font-family: monospace;
}
figure {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
}
figure > * {
  grid-area: 1/1;
}

.intro {
  display: grid;
  align-items: center;
}

main {
  background-color: darkred;
}
.mig {
  width: 55vh;
  margin-bottom: 20px;
  border-radius: 10px;
}

.velkommen {
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
}

.opgaver {
  background-color: brown;
  display: grid;
  gap: 20px;
}
.h1mineopgaver {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-weight: 600;
  text-decoration: underline;
}

.tiger {
  width: 400px;
  /* justify-content: center;
  align-items: center; */
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.responsive {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
  padding: 5px;
  background-color: black;
}

.tigerogtitel {
  display: grid;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.tigerogtitel > * {
  grid-area: 1/1;
}
.tigerogtitel a {
  place-self: end center;
  margin-bottom: 20px;
}

.h1tema2 {
  color: black;
  text-align: center;
  font-size: 30px;
  color: white;
}

.h1tema3 {
  color: white;
  text-align: center;
  font-size: 30px;
}
/* footer */
footer {
  text-align: center;
  background-color: brown;
}

/* index html slut */

/* responsiv_v2 start */

a {
  text-decoration: none;
  color: black;
}

.a_gotilresp {
  font-size: 1.5rem;
  font-family: monospace;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background-color: white;
}

.tigerh2 {
  text-align: center;
  font-size: 2rem;
  color: white;
}
.sidev2 {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.resptext {
  padding: 0px 10px 10px 10px;
  color: white;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  max-width: 400px;
}

.tigerknap {
  width: 400px;
  margin: 0 auto;
}
/* responsive v2 slut */

/* prototype 2 */

.prot2forside {
  width: 700px;
  /* justify-content: center;
  align-items: center; */
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.prot2figcap {
  color: black;
  background: white;
  border-radius: 5px;
  place-self: end center;
}

.prototype2a {
  place-self: end center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
